<div class="container">
  <div class="container-box">
    <div>
      <h4><strong>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de
        Campinas/SP</strong> </h4>
      <div class="image-container">
        <iframe src="https://www.youtube.com/embed/ynLpZGegiJE" title="Relaxing Walk in the Rain, Umbrella and Nature Sounds for Sleep and Relaxation | 4k ASMR" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <!-- <img src="assets\dewey.jpg"> -->
      </div>
    </div>
    <div>
      <div class="container-opt">
        <button class="btn">
          <img src="assets\download.svg"> Download
        </button>
        <button class="btn">
          <img src="assets\star.svg"> 
        </button>
        <button class="btn">
          <img src="assets\doi.svg"> 
        </button>
      </div>
        <h4> Como citar esse trabalho?</h4>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Detalhes</h5>
          <p class="card-text">
            Tipo de Apresentação: Pôster <br>
            Eixo temático: Alimentação e saúde (AS)
            Palavras-chaves: Alimentos funcionais, alimentação escolar.

            Autores:
            Galileo Galilei¹
            Berta Lange de Morretes²
            Isaac Newton³
            Cesar Lattes¹
            Stephen Hawking⁴

            ¹Universidade Estadual de Campinas
            ²Universidade de São Paulo
            ³Instituto Nacional de Pesquisas Espaciais
            ⁴Universidade Federal do Rio de Janeiro
        </div>
      </div>
    </div>

  </div>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h3 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Resumo
        </button>
      </h3>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut,
          commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed
          magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi
          tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et non lorem.
          Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum Phasellus
          condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in
          sapien scelerisque, ac gravida eros vestibulum. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit ametl
          accumsant... ver mais
        </div>
      </div>
    </div>
  </div>
</div>