<div class="container">
  <div class="container-box">
    <div>
      <h4><strong>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do
          município de
          Campinas/SP</strong> </h4>
      <div class="image-container">
        <iframe src="https://www.youtube.com/embed/ynLpZGegiJE"
          title="Relaxing Walk in the Rain, Umbrella and Nature Sounds for Sleep and Relaxation | 4k ASMR"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      </div>
    </div>

    <div class="conteudo">
      <div class="container-opt">
        <button class="btn">
          <img src="assets\download.svg"> Download
        </button>
        <button class="btn">
          <img src="assets\star.svg">
        </button>
        <button class="btn">
          <img src="assets\doi.svg">
        </button>
        <h4> COMO CITAR ESSE TRABALHO?</h4>
      </div>

      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Detalhes</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            Tipo de Apresentação: <strong>Pôster</strong> <br>
            Eixo temático:<strong> Alimentação e saúde (AS) </strong><br>
            Palavras-chaves: <strong> funcionais, alimentação escolar. </strong> <br>
            <br>
            <strong> Autores: </strong> <br>
            Galileo Galilei¹ <br>
            Berta Lange de Morretes² <br>
            Isaac Newton³ <br>
            Cesar Lattes¹ <br>
            Stephen Hawking⁴ <br>
            <br>

            ¹Universidade Estadual de Campinas <br>
            ²Universidade de São Paulo <br>
            ³Instituto Nacional de Pesquisas Espaciais <br>
            ⁴Universidade Federal do Rio de Janeiro <br>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut,
            commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed
            magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi
          </p>
        </div>
      </div>


    </div>

  </div>

  
  <div class="posts">




    <div class="card">
      <div class="card-header">
        Resumo
      </div>
      <div class="card-body">
        <p class="card-text" *ngIf="!showMore" id="resume">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus vitae turpis auctor,
          mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce
          auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec
          finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et
          non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum
          Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin
          ligula in sapien scelerisque, ac gravida eros vestibulum. Etiam aliquam dictum nisl, vel aliquet enim accumsan
          sit ametl accumsant... <a class="btn-show-more" (click)="collapseHandler()">ver mais</a></p>

        <p class="card-text" id="collapseExample" *ngIf="showMore">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut,
          commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed
          magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi
          tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et non lorem.
          Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum.

          Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat. Proin
          dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris sodales id.
          Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis. Etiam finibus
          urna libero, eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean interdum quis diam
          ac porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet odio.

          Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat. Donec eleifend
          vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu. Phasellus maximus dui
          eget lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis turpis. Praesent blandit
          elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis consectetur non odio. Phasellus at
          lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque orci. Quisque sagittis, mi
          vitae pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id odio. Morbi eu libero luctus,
          consectetur lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu maximus massa.

          Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta pharetra felis ut
          hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus luctus dolor
          at viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum sem. Aliquam at
          malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus placerat vitae. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit.

          <a class="btn-show-more" btn-show-more (click)="collapseHandler()">ver menos</a>
        </p>
      </div>
    </div>

    <div class="card-discussion">
      <div class="card">
        <div class="card-header">
          Discussões
        </div>

        <div class="card-body">
          <div class="accordion-body">
            <div class="container" *ngIf="newTopic && !sendTopic">

              <p><strong>Compartilhe suas ideias ou dúvidas com os autores!</strong></p>
              <div class="imagesContent">
                <img src="assets\icone1.svg" alt="">
                <img src="assets\icone2.svg" alt="">
                <img src="assets\icone3.svg" alt="">
              </div>
              <div class="container">
                <p style="color: #595959;">Sabia que o maior estímulo no desenvolvimento científico e cultural é a
                  curiosidade? Deixe seus
                  questionamentos ou sugestões para o autor!</p>
                <div class="line"></div>
                <button class="createTopic">
                  <img src="assets\criar.svg" alt="">
                  <div class="btn-create-topic" (click)="topicHandler()">criar tópico</div>
                </button>
              </div>
            </div>
            <div class="newTopic" *ngIf="!newTopic">

              <p style="color: #000;">Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</p>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Assunto</label>
                <input type="text" class="form-control">
              </div>

              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Conteúdo</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>

              <button (click)="sendTopicHandler()">Enviar</button>
            </div>
            <div class="newTopic" *ngIf="sendTopic">

              <p style="color: #000;">Seu tópico foi enviado com sucesso! :D</p>
              <p>Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que seu tópico for
                respondido!</p>
              <a style="color: #ED7839;" href="#">Descubra outros trabalhos</a> <br>
              <button class="createTopic">
                <div class="btn-create-topic" (click)="sendTopicHandler()">criar novo tópico</div>
              </button>
            </div>

            <div class="cards">

              <div class="card sendTopic" *ngIf="sendTopic">
                <div class="card-body">
                  <div class="cardContent">
                    <p><strong>Assunto da pergunta aparece aqui</strong></p>
                    <p>Carlos Henrique Santos</p>
                    <p>Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e
                      impacto de processo formativo situado impacto de processo formativo processo...</p>
                    <div class="footer">
                      <div class="images">
                        <img src="assets\informations.svg" alt="">
                        <button class="btn">
                          <img src="assets\heart.svg">
                        </button>
                      </div>
                      <div class="likes">
                        <p>1 like</p>
                        <p>1 resposta</p>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="overlay" *ngIf="sendTopic">
                  <div class="overlay-content">

                    <img src="assets\check.svg" alt="">
                    <p>Aguardando feedback dos autores</p>
                    <a href="#" style="color: #ED7839;">Editar Tópico</a>
                  </div>
                </div>
              </div>


              <div class="card">
                <div class="card-body">
                  <div class="cardContent">
                    <p><strong>Assunto da pergunta aparece aqui</strong></p>
                    <p>Carlos Henrique Santos</p>
                    <p>Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e
                      impacto de processo formativo situado impacto de processo formativo processo...</p>
                    <div class="footer">
                      <div class="images">
                        <img src="assets\informations.svg" alt="">
                        <button class="btn">
                          <img src="assets\heart.svg">
                        </button>
                      </div>
                      <div class="likes">
                        <p>1 like</p>
                        <p>1 resposta</p>
                        <p class="btn-show-more" *ngIf="!showAuthors" (click)="authorsHandler()">ver mais</p>
                        <p class="btn-show-more" *ngIf="showAuthors" (click)="authorsHandler()">ver menos</p>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="showAuthors">

                    <div class="cardAuthor">
                      <strong>
                        <p>Adriano da Silva</p>
                      </strong>
                      <p>Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de
                        processo formativo situado impacto de processo formativo processo resente relato inscreve-se no
                        campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo
                        processo.</p>
                        
                      </div>
                      <div class="cardAuthor">
                        <strong>
                      <p>Carlos Henrique Santos</p>
                    </strong>
                    <p>Consegui entender melhor agora! Parece que a variação da análise da dimensão e impacto de processo formativo situado impacto de processo formativo. <br>

                      Obrigada pela resposta, muito interessante o seu trabalho! </p>
                      
                    </div>
                    <div class="cardAuthor">
                      <strong>
                        <p>Camila Ferreira Andrade</p>
                      </strong>
                      <p>Também ínteressante lembrar que o relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.
                        
                        Situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
                        
                      </div>
                      <div class="cardAuthor">
                        <strong>
                          <p>Ana Carolina</p>
                        </strong>
                        <p>Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
                        
                      </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="card">
                    <div class="card-body">
                      <div class="cardContent">
                        <p><strong>Assunto da pergunta aparece aqui</strong></p>
                        <p>Carlos Henrique Santos</p>
                        <p>Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e
                          impacto de processo formativo situado impacto de processo formativo processo...</p>
                        <div class="footer">
                          <div class="images">
                            <img src="assets\informations.svg" alt="">
                            <button class="btn">
                              <img src="assets\heart.svg">
                            </button>
                          </div>
                          <div class="likes">
                            <p>1 like</p>
                            <p>1 resposta</p>
                            <p class="btn-show-more" *ngIf="!showAuthors2" (click)="authorsHandler2()">ver mais</p>
                            <p class="btn-show-more" *ngIf="showAuthors2" (click)="authorsHandler2()">ver menos</p>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="showAuthors2">
    
                        <div class="cardAuthor">
                          <strong>
                            <p>Adriano da Silva</p>
                          </strong>
                          <p>Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de
                            processo formativo situado impacto de processo formativo processo resente relato inscreve-se no
                            campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo
                            processo.</p>
                            
                          </div>
                          <div class="cardAuthor">
                            <strong>
                          <p>Carlos Henrique Santos</p>
                        </strong>
                        <p>Consegui entender melhor agora! Parece que a variação da análise da dimensão e impacto de processo formativo situado impacto de processo formativo. <br>
    
                          Obrigada pela resposta, muito interessante o seu trabalho! </p>
                          
                        </div>
                        <div class="cardAuthor">
                          <strong>
                            <p>Camila Ferreira Andrade</p>
                          </strong>
                          <p>Também ínteressante lembrar que o relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.
                            
                            Situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
                            
                          </div>
                          <div class="cardAuthor">
                            <strong>
                              <p>Ana Carolina</p>
                            </strong>
                            <p>Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
                            
                          </div>
                          </div>
                        </div>
                      </div>
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>

  <app-footer />
</div>